% rebase('prijava_registracija.html')

<br>
<br>

<div class="container h-100 d-flex justify-content-center">
    <h1>PRIJAVA</h1>
</div>


<div class="container h-100 d-flex justify-content-center">
    <form action='/prijava/' method='POST'>
        Ime: <input type='text' name='ime'>
        Geslo: <input type='password' name='geslo'>
        <input type='submit' class="btn-primary" value='Prijava'>
    </form>
</div>

<br>

<div class="container h-100 d-flex justify-content-center">
<a href="/registracija/" class="btn btn-info" role="button">Še nimate računa? Kliknite tukaj, da se registrirate.</a>
</div>


