% rebase('osnova.html')
<pre>

/$$$$$$$            /$$                                      /$$ /$$      
| $$__  $$          | $$                                     |__/| $$      
| $$  \ $$  /$$$$$$ | $$   /$$  /$$$$$$  /$$    /$$ /$$$$$$$  /$$| $$   /$$
| $$$$$$$/ /$$__  $$| $$  /$$/ /$$__  $$|  $$  /$$/| $$__  $$| $$| $$  /$$/
| $$__  $$| $$  \ $$| $$$$$$/ | $$  \ $$ \  $$/$$/ | $$  \ $$| $$| $$$$$$/ 
| $$  \ $$| $$  | $$| $$_  $$ | $$  | $$  \  $$$/  | $$  | $$| $$| $$_  $$ 
| $$  | $$|  $$$$$$/| $$ \  $$|  $$$$$$/   \  $/   | $$  | $$| $$| $$ \  $$
|__/  |__/ \______/ |__/  \__/ \______/     \_/    |__/  |__/|__/|__/  \__/
                                                                           
</pre>

<h1>Seznam izpitov</h1>
<ul>
    % for predmet in rokovnik.predmeti:
    <li><b>{{predmet.ime}}</b></li>

        <form action='/odstrani-predmet/' method='POST' type='hidden'>
        <input type='hidden' name='predmet' value='{{predmet.ime}}'>
        <input type='submit' class="btn btn-danger" value='Odstrani predmet'>
        </form>

        <br>
        
        <ul>
            % for izpit in predmet.izpiti:
            <li>Datum: {{izpit.datum}}</li>
            <li>Dolžina izpita: {{izpit.dolzina_izpita}} minut</li>
            <li>Tematika: {{izpit.tematika}}</li>
            <li>Količina gradiva: {{izpit.kolicina_gradiva}} strani</li>
            <li>Že predelano gradivo: {{izpit.predelano_gradivo}} strani</li>
            <form action='/odstrani-izpit/' method='POST' type='hidden'>
            <input type='hidden' name='predmet' value='{{predmet.ime}}'>
            <input type='hidden' name='izpit' value='{{izpit.datum}}'>
            <input type='submit' class="btn btn-outline-danger" value='Odstrani izpit'>
            </form>
            <br>
            <br>
            % end
            <a class="btn btn-outline-primary" data-toggle="collapse" href="#{{predmet.ime}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                Dodaj izpit
            </a>
            <div class="collapse" id="{{predmet.ime}}">
                <div class="card card-body">
                    <form action='/dodaj-izpit/' method='POST' type='hidden'>
                    <input type='hidden' name='predmet' value='{{predmet.ime}}'>
                    % include('_izbira_datuma.html', id='datum', oznaka='Datum:')
                    Dolžina izpita (v minutah): <input type='text' name='dolzina_izpita'>
                    Tematika: <input type='text' name='tematika'>
                    Količina gradiva (št. strani): <input type='text' name='kolicina_gradiva'>
                    Že predelano gradivo (št. strani): <input type='text' name='predelano_gradivo'>
                    <input type='submit' value='Dodaj izpit'>
                    </form>
                </div>
            </div>
        </ul>
        <br>
    % end
</ul>


<b>Dodaj nov predmet:</b>
<form action='/dodaj-predmet/' method='POST'>
    Ime predmeta: <input type='text' name='ime'>
    Pričakovana ocena: <input type='text' name='pricakovana_ocena'>
    Težavnost: <input type='text' name='tezavnost'>
    <input type='submit' class="btn-primary" value='Dodaj predmet'>
</form>

<br>

<script>
    function skrij(id) {
      var x = document.getElementById(id);
      if (x.style.display === 'none') {
        x.style.display = 'block';
      } else {
        x.style.display = 'none';
      }
    }
</script>